/* Gaya Umum */
body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container Utama */
.container {
    width: 80%;
    display: flex;
    gap: 20px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}

/* Bagian Form Input */
.task-form {
    width: 30%;
    padding: 20px;
    background-color: #ECECEC;
    border-radius: 10px;
    height: 700px;
}

.btn-submit {
    background-color: #3D8D7A;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2rem;
    width: 100%;
}

.top-text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
    color: #3D8D7A;
}

/* Bagian Daftar Task */
.task-list {
    width: 70%;
    padding: 20px;
    background-color: #A5D8C7;
    border-radius: 10px;
    height: 700px;
}

/* Setiap item dalam daftar task */
.task-item {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    justify-content: space-between;
}

.date-today {
    color: #fff;
    font-weight: 600;
    font-size: 20px;
}

/* Ikon status task */
.task-icon {
    font-size: 20px;
    cursor: pointer;
}

.task-icon.check {
    color: green;
}

.task-icon.uncheck {
    color: gray;
}

/* Tombol hapus */
.trash-icon {
    color: red;
    cursor: pointer;
}

/* Responsif */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 90%;
    }

    .task-form,
    .task-list {
        width: 100%;
    }
}